<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR panel</title>
    
    <link rel="stylesheet" href="main.css">
</head>

<body>
    
    <nav>
        <ul id="drop-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Employee Database</a>
                <ul>
                    <li><a href="#">New</a></li>
                    <li><a href="#">Team</a>
                        <ul>
                            <li><a href="#">BD</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Testing</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">HR</a></li>
                            <li><a href="#">System Admin</a></li>
                            <li><a href="#">Leadership</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    
</body>
</html>